################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BinClock/bin/Debug
/BinClock/bin/Release
/BinClock/obj
/BinClock/Resources/Resource.designer.fs
BinClock.userprefs
*.suo
*.db
*.bak
